.row
  %ul.breadcrumb
    %li{data: {component: 'Positions', is: 'total'}}= ""
    - path = []
    - max = params[:id].split('-').length - 1
    - params[:id].split('-').each_with_index do |p, i|
      - path.push(p)
      %li
        - if max == i
          = p
        - else
          = link_to p, position_path("#{path.join('-')}")

.row#positions{data: {component: 'Positions', is: "#{params[:id]}"}}
