svg {
  width: 100%;
  margin-left: 0px;
}
.btn-action {
  background-color: #eee;
  &:hover {
    color: #377ab7 !important;
  }
}
.navbar {
  a.btn-add {
    background-color: red;
    i {
      font-style: normal !important;
      font-size: 30px;
    }
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #fff !important;
      opacity:  0.7;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
     color:    #fff !important;
     opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
     color:    #fff !important;
     opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
     color:    #fff !important;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
     color:    #fff !important;
  }
  form {
    padding-top: 10px;
    padding-left: 10px;
    width: 70%;
    input {
      border-color: #ccc;
      color: #fff;
      width: 100% !important;
    }
  }
  .metrics {
    display: block;
    height: 60px;
    padding-top: 12px;
    margin-left: 20px;
    color: #ddd;
  }
}
form {
  em {
    color: red;
  }
  span.error {
    display: inline;
    color: red;
    &.hide {
      display: none;
    }
  }
  textarea {
    border-radius: 0 !important;
  }
}
.card {
  padding: 20px;
  margin-bottom: 20px;
  h4.card-title {
    color: #000 !important;
  }
}
ul.breadcrumb li:first-child {
  float: right;
}
.history {
  border-left: 1px solid #ddd;
  height: 600px;
}
.autocomplete {
  ul {
    position: absolute;
    background-color: #fff;
    width: 100%;
    margin-left: -15px;
    z-index: 10;
    li {
      padding: 5px 15px;
      border-bottom: 1px solid #ddd;
      strong{
        display: block;
      }
      &:hover {
        background-color: #ddd;
        cursor: pointer;
      }
    }
  }
}
ul.editor {
  form {
    margin-top: 20px;
    display: none;
  }
}
ul.editor li {
  border-bottom: 1px solid #ddd;
}
ul.editor li:last-child, ul.editor li:first-child {
  padding: 20px 0;
  border-bottom: 0;
}
ul.editor li a {
  font-size: 20px;
}
ul.editor li a span {
  display: inline-block;
  width: 20px;
}
.modal-footer {
  text-align: center !important;
}
.modal-footer input, .modal-footer button {
  display: inline !important;
  margin: 10px !important;
  width: 140px !important;
  @media (max-width: 320px) {
    width: 100% !important;
    margin: 10px 0 10px 0 !important;
  }

}
